#wrap{
	background:#ddd;
}

.g-hover-card {
  position: relative;  
  text-align: center;
  background-color: #fff;
}

.g-hover-card img {
  width: 280px;
  height: 135px;
}

.g-hover-card .user-avatar {
  position: relative;
  top: -40px;
  margin-bottom: -40px;
}

.g-hover-card .user-avatar img {
  width: 80px;
  height: 80px;
  max-width: 80px;
  max-height: 80px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.g-hover-card .info {
  padding: 4px 8px 10px;
}

.g-hover-card  .info.title {
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 1;
  color: #262626;
  vertical-align: middle;
}

.g-hover-card  .info.descriptions {
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis;
}

.g-hover-card .bottom {
  padding: 0 20px;
  margin-bottom: 17px;
}
.g-hover-card{
  width: 240px;
  padding-top: 0px;
  overflow: hidden;
}